<form class="form-inline">
    <div class="center-block col-md-4" style="float: none;">
        <div class="container-fluid">
            <div class="form-group">
                <div class="input-group">
                    <input required ng-model="zip" name="zip" type="text" autofocus class="form-control input-lg"
                           pattern="[0-9]{5}"  placeholder="5 digit US Postal Code">
                </div>
            </div>
            <button ng-click="search(zip)" class="btn btn-primary btn-lg">Search!</button>
        </div>
    </div>
</form>

<section class="row" ng-if="persons && persons.length > 0">
    <h1 class="text-center h2" style="float: none;">Search Results</h1>
    <ul class="list-unstyled">
        <li ng-repeat="person in persons">
            <section class="well col-md-6 col-md-offset-3">
                <h3 style="margin-top: 0;">
                    <a href="#">{{person.first_name}} {{person.last_name}} -
                        {{person.address}} {{person.city}} {{person.zip}} </a>
                </h3>
            </section>
        </li>
    </ul>
</section>
